{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="">
        <div class="jumbotron d-flex flex-row justify-content-between">
            <h1>Create Projects</h1>
            {% if id ?? false %}
            <form method="POST" action="{{ path('project.delete', {id:id}) }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
        </div>
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="form-group d-flex flex-column gap-3">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.status) }}
            {{ form_row(form.team) }}
            <div class="w-100 d-flex justify-content-end ">
                <button class="btn btn-primary w-25" type="submit">Save</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
